<main>
    <section class="tarefas">
        <div class="tarefa">
            <form action="">
                <input type="radio" id="tarefa-1">
                <label for="tarefa-1">Completar curso de JavaScript</label>
                
                <button>
                     <img src="/imagens/x_icon.png" alt="icone com formato da letra X">
                </button>
            </form>
        </div>
        <div class="tarefa">
            <form action="">
                <input type="radio" id="tarefa-2">
                <label for="tarefa-2">Completar curso de JavaScript</label>
                
                <button>
                     <img src="/imagens/x_icon.png" alt="icone com formato da letra X">
                </button>
            </form>
        </div>
        <div class="tarefa">
            <form action="">
                <input type="radio" id="tarefa-3">
                <label for="tarefa-3">Completar curso de JavaScript</label>
                
                <button>
                     <img src="/imagens/x_icon.png" alt="icone com formato da letra X">
                </button>
            </form>
        </div>
        <div class="informacoes">
            <p>5 tarefas ativas</p>
            <a href="">Limpar tarefas</a>
        </div>
    </section>
</main>
